@font-face { /* Police téléchargée sursur fontsquirrel.com*/
    font-family: 'intro_rust_gbase_2_line';
    src: url('webfonts/introrustg_base2line_macroman/introrustg-base2line-webfont.eot');
    src: url('webfonts/introrustg_base2line_macroman/introrustg-base2line-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/introrustg_base2line_macroman/introrustg-base2line-webfont.woff2') format('woff2'),
         url('webfonts/introrustg_base2line_macroman/introrustg-base2line-webfont.woff') format('woff'),
         url('webfonts/introrustg_base2line_macroman/introrustg-base2line-webfont.ttf') format('truetype'),
         url('webfonts/introrustg_base2line_macroman/introrustg-base2line-webfont.svg#intro_rust_gbase_2_line') format('svg');
    
	}
	
* 
{
	box-sizing: border-box; /* La taillle des block inclus le padding, le margin et le border*/
}

.main_wrapper
{
	background-color: #DDDDDD;
	width: 100%;
	margin: auto;
	min-height: 600px;
	/*box-shadow: 5px 5px 3px grey;*/
	box-shadow: -5px -5px 3px grey;
	padding-top: 0px;
}

header
{
	width:100%;
	height: 80px;
	background-color: #22313F;
	position: absolute;
	top: 0px;
	z-index: 4;
	box-shadow: -3px 3px 3px grey;
}
footer
{
	color: white;
	background-color: #22313F;
	display: block;
	position: relative;
	bottom: 0px;
}

body
{ 
	background-color: #DDDDDD;
	font-family:  Georgia, Verdana, Arial, "Arial Black", "Comic Sans MS", "Courier New", Impact, "Times New Roman", "Trebuchet MS", sans-serif;
	/*background-color: rgba(0,0,0,0.8);
	/*background: url("images/fond2.jpg") fixed no-repeat center, url("images/tn_moi.jpg") fixed no-repeat top right; */
}


h1
{
	color: #999;
	font-family: 'intro_rust_gbase_2_line', Arial;
	font-size: 60px;
	text-decoration: blink;
	text-align: center;
	text-shadow: 5px 0px 3px black; /* Ombre pour le texte */
	z-index: 2;
}

/***************************************************************************************/
@media screen and (max-width: 767px)
{
	h1
{
	color: #999;
	font-family: 'intro_rust_gbase_2_line', Arial;
	font-size: 30px;
	text-decoration: blink;
	text-align: center;
	text-shadow: 5px 0px 3px black; /* Ombre pour le texte */
	z-index: 2;
}
}


h2
{
	color: red;
	font-style: italic;
	/*text-decoration: underline;*/
	margin: auto; /* Pour centrer le bloc */
}

em
{
	color: red;
	font-style: italic;
	text-decoration: underline;
}

h3
{
	color: blue;
	font-weight: bold;
	margin-left: 200px;
}

p
{
	width: 100%;
	/*min-width: 400px; /* Largeur minimale */
	color: black;
	font-family: Verdana, Arial, "Arial Black", "Comic Sans MS", "Courier New", Georgia, Impact, "Times New Roman", "Trebuchet MS", sans-serif; /* Les polices sont essayées sucessivement */
	font-size: medium; /*Taille du texte; à la place de 'medium' on peut utiliser 1.2em par exemple, sachant que "1em" est la taille normale */
	text-align: justify;
	/*opacity: 0.8; /* Pour gérer l'opacité...*/
	/*border: 3px blue dotted; /* Bordure "dotted" peut devenir : solid, dashed, double, groove, inset outset, ridge*/
	border-radius: 10px; /* Pour arrondir les bords*/
	padding: 10px; /* Marge intérieure */
	margin: auto; /* Marge extérieure ; on peut utilise "margin-left",... Si "margin" = auto, le bloc est centré */
	word-wrap: break-word; /* permet de faire la césure des textes trop larges ; les url par exemple */
	overflow: auto;
}



.smallParagraphe
{
	width: 100%;
	height: 100px;
	overflow: auto; /* Permet de faire des ajustements automatique quand le texte dépasse du bloc */
	text-align: center;
	margin-left: 10px;
}

mark
{
	background-color: white;
	color: red;
}

a
{
	text-decoration: none;
	color: #22313F;
}

a:hover, a:active
{
	/*text-decoration: underline;*/
	color: green;
}
a:focus
{
	color: grey;
}


nav /* Forme de mes volets de navigation*/
{
display: inline-block;
width: 100%;
height: 50px;
background-color: #95A5A6;
vertical-align: top;
position: absolute;
top: 75px;
z-index: 3; /* L'élément ayant la plus grande valeur est placé au dessus des autres */
box-shadow: -3px 3px 3px grey;
}
nav a
{
	color: white;
}
nav ul
{
	list-style-type: none; /* Pour retirer les puces*/
	background-color: #333333;
	color: white;
}
nav li
{
	display: inline-block;
	color: white;
	width: 250px;
	font-weight: bold;
	font-size: 1.2em;
}
nav ul li a.actu, nav ul li a:hover
{
	color: white;
	background-color: #96281B;
	text-align: center;
	border-top: 3px solid #96281B;
	border-right: 3px solid #96281B;
	box-shadow: -3px 3px 3px grey;
	padding: 5px;
	border-radius: 7px;
}

section
{
width:100%;
display: inline-block;
vertical-align: top;
margin-right: 5px;
margin-left: 10px;
margin-top: 0px;
position:relative;
}

section.firstSection
{
width:100%;
display: inline-block;
vertical-align: top;
margin-right: 5px;
margin-left: 10px;
margin-top: 150px;
position:relative;
}

article
{
width: 70%;
display: inline-block;
vertical-align: top;
margin-left: 0px;
position:relative;
}

aside
{
width: 25%;
min-height: 400px;
display: inline-block;
border-left: 3px solid #95A5A6;
border-right: 3px solid #95A5A6;
vertical-align: top;
margin-right: 20px;
margin-left: 0px;
background-color: #BBB;
float: left;
}


aside li
{
	display: inline-block;
	height: 30px;
	color: white;
	width: 100%;
	font-size: 1em;
	margin-left: -40px;
	clear: both;
}

aside ul li:nth-child(odd)
{
	background-color: white;
}

aside .rectangle
{
width: 100%;
min-height: 50px;
text-align: center;
color: #EEE;
background-color: #22313F;
}

/***************************************************************************************/
@media screen and (max-width: 767px)
{
	aside
	{
		display: none;
	}
}

.divImage
{
	width: 100%;
	text-align: center;
}


.toTop
{
	display: inline-block;
	font-size: 2em;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	text-align: center;
	position: fixed;
	right:0px;
	bottom:38px;
	z-index: 10;
}
.toTop a:focus
{
	color: black;
	background-color: #DDD;
}
.toTop a:active
{
	background-color: #DDD;

}


/* Les blocks du premier projet EMSE */

@media screen and (min-width: 992px)
{
.petitBlock1
{
	width: 100px;
	border: 3px solid #000;
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	background-color: #D91E18;
}
.petitBlock2
{
	width: 100px;
	border: 3px solid #000;
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	background-color: #E87E04;
}
.petitBlock3
{
	width: 100px;
	border: 3px solid #000;
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	background-color: #049372;
}

.block1
{
	display: inline-block;
	width: 30%;
	text-align: justify;
	
	background-color: #CCC;
	border: 3px dashed #D91E18;

	float:left;
	margin:5px;
	padding:5px;
	position:relative;
}
.block2
{
	display: inline-block;
	width: 30%;
	text-align: justify;
	
	background-color: #CCC;
	border: 3px dashed #E87E04;
	
	float:left;
	margin:5px;
	padding:5px;
	position:relative;
}
.block3
{
	display: inline-block;
	width: 30%;
	text-align: justify;
	
	background-color: #CCC;
	border: 3px dashed #049372;
	
	float:left;
	margin:5px;
	padding:5px;
	position:relative;
}
}

/***********************************************************************************************************/
@media screen and (min-width: 768px) and (max-width: 991px)
{
.petitBlock1
{
	width: 100px;
	border: 3px solid #000;
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	background-color: #D91E18;
}
.petitBlock2
{
	width: 100px;
	border: 3px solid #000;
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	background-color: #E87E04;
}
.petitBlock3
{
	width: 100px;
	border: 3px solid #000;
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	background-color: #049372;
	clear:left;
}

.block1
{
	display: inline-block;
	width: 45%;
	text-align: justify;
	
	background-color: #CCC;
	border: 3px dashed #D91E18;
	
	float:left;
	margin:5px;
	padding:5px;
	position:relative;
}
.block2
{
	display: inline-block;
	width: 45%;
	text-align: justify;
	
	background-color: #CCC;
	border: 3px dashed #E87E04;
	
	float:left;
	margin:5px;
	padding:5px;
	position:relative;
}
.block3
{
	display: inline-block;
	width: 91.5%;
	text-align: justify;
	
	background-color: #CCC;
	border: 3px dashed #049372;
	
	clear:both;
	margin:5px;
	padding:5px;
	position:relative;
}
}

/***********************************************************************************************************/
@media screen and (max-width: 767px)
{
.petitBlock1
{
	width: 70px;
	border: 3px solid #000;
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	background-color: #D91E18;
}
.petitBlock2
{
	width: 70px;
	border: 3px solid #000;
	position: absolute;
	top:-3px;
	right: -3px;
	text-align: center;
	background-color: #E87E04;
}
.petitBlock3
{
	width: 70px;
	border: 3px solid #000;
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	background-color: #049372;
	clear:left;
}

.block1
{
	display: inline-block;
	width: 100%;
	text-align: justify;
	
	background-color: #CCC;
	border: 3px dashed #D91E18;

	clear:both;
	margin:5px;
	padding:5px;
	position:relative;
}
.block2
{
	display: inline-block;
	width: 100%;
	text-align: justify;
	
	background-color: #CCC;
	border: 3px dashed #E87E04;

	clear:both;
	margin:5px;
	padding:5px;
	position:relative;
}
.block3
{
	display: inline-block;
	width: 100%;
	text-align: justify;
	
	background-color: #CCC;
	border: 3px dashed #049372;

	clear:both;
	margin:5px;
	padding:5px;
	position:relative;
}
}
